<%- include('partials/_header') %> <%- include('partials/_navigation', {
page_name: 'dashboard' }) %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="info">
        <h1><%= user.name %></h1>
        <h2><%= user.role %></h2>
        <p><%= user.email %></p>
      </div>
    </div>
  </div>
</div>
<style>
  .info {
    padding: 100px;
    font-size: 24px;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Özel renk seçimi */
  }
</style>
<%- include('partials/_footer') %>
