<%- include('partials/_header') %> <%- include('partials/_navigation') %>
<!-- furnitures section start -->
<div id="overviews" class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center; margin-top: 2rem">Furnitures</h1>
      </div>
      <div class="col-lg-9 blog-post-single">
        <div class="row">
          <div class="blog_section_2 layout_padding">
            <div class="row">
              <% if(furnitures) { %> <% for(let i=0; i< furnitures.length; i++)
              { %>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="blog_box">
                  <div class="blog_img">
                    <img src="<%= furnitures[i].image %>" />
                  </div>
                  <p class="chair_text"><%= furnitures[i].name %></p>
                  <p class="chair_text"><%= furnitures[i].category %></p>
                  <% if(user.role === 'member' && furnitures[i].isReserved ===
                  false && reserve) { %>
                  <form action="/furnitures/reserve" method="POST">
                    <input
                      type="hidden"
                      name="FurnitureId"
                      value="<%= furnitures[i].id %>"
                    />
                    <input
                      type="hidden"
                      name="name"
                      value="<%= furnitures[i].name %>"
                    />
                    <input
                      type="hidden"
                      name="category"
                      value="<%= furnitures[i].category %>"
                    />
                    <button class="btn btn-secondary" type="submit">
                      Reserve
                    </button>
                  </form>
                  <% } %>
                </div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
      <div class="col-lg-3 col-12 right-single">
        <div class="widget-search">
          <div class="site-search-area">
            <form method="GET" id="site-searchform" action="/furnitures">
              <div>
                <input
                  class="input-text form-control"
                  name="search"
                  id="search-k"
                  placeholder="Search..."
                  type="text"
                />
                <button id="searchsubmit" value="Search" type="submit"></button>
              </div>
            </form>
          </div>
        </div>
        <div class="widget-categories">
          <h3 class="widget-title">Categories</h3>
          <form action="/furnitures" method="get">
            <ul>
              <li>
                <label>
                  <input type="checkbox" name="category" value="bedroom" />
                  Bedroom
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="category" value="office" />
                  Office
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="category" value="bathroom" />
                  Bathroom
                </label>
              </li>
            </ul>
            <input type="submit" value="Filter" />
          </form>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
<!-- end section -->
<!-- furnitures section end -->
<%- include('partials/_footer') %>
